
body{
	padding: 20px;
	background-color: #333333;
	
}

a.banner{
	position: relative;
	display:block;
	width: 1000px;
	height: 176px;
	border: 1px solid #555;
	background:
		url(../images/banner-photo.jpg) no-repeat -40px 220px,
		url(../images/banner-bg.jpg) no-repeat 0 0;

	transition:background-position .5s ease-in .5s;

}

a.banner .banner-logo{
	position: absolute;
	left: 540px;
	top: 20px;
	transition:all .4s ease-out .3s;
}

a.banner .banner-desc{
	opacity: 0;
	position: absolute;
	top: 35px;
	left: 370px;
	font: 16px/1.5 "Cursive";
	color: #4ec1cd;
	transition:all .4s ease-out .3s;
}
a.banner:hover {
	background-position: 
	-40px 20px,
	0 0;

}
a.banner:hover .banner-desc{
	opacity:1;
}

a.banner:hover .banner-logo{
	left: 740px;
}